<a href="https://colab.research.google.com/github/kweyuchesa/WEEK-4---MORINGA-IP/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2019_07_Kevin_Chesa_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#libraries for our analysis

In [0]:
## Import the packages and libraries
import numpy as np
import pandas as pd
import pandas_profiling
import matplotlib.pyplot as plt
import plotly as py
import seaborn as sns 
import os

Importing Our **Autolib_dataset.xlsx** Dataset for analysis and Exploration

In [0]:
# Let's read the data from the CSV file and create the dataframe to be used
url = 'http://bit.ly/Autolibdataset'
url

'http://bit.ly/Autolibdataset'

#Creating an SQL Environment for Loading Huge Dataset

In [0]:
import os
import csv
import sqlite3
from sqlalchemy import create_engine

csv_database = create_engine('sqlite:////csv_database.db')
chunk_size = 1000000
i = 0
j = 0
for df in pd.read_csv(url, chunksize = chunk_size, iterator = True):
    df = df.rename(columns = {c: c.replace(' ','') for c in df.columns})
    df.index += j

df.to_sql('auto', csv_database, if_exists = 'append' )
j = df.index[-1]+1

print(' | index: {}'.format(j))

In [0]:
#Finding the size of the dataset 
df.shape

#Retreaving csv file into our sql lite environment

DESCRIBING THE DATASET

In [0]:
#retreaving csv file into our sql lite environment 
auto = pd.read_sql_query('SELECT * from auto WHERE city == "Paris" ', csv_database)

Renaming Our dataset

In [0]:
df = auto

Preview our dataset

In [0]:
df.head()

#Validity ~ Dropping Unnecesary columns/Variables

In [0]:
df.drop(['Unnamed', 'Displayed Comment', 'ID', 'Geo Point', 'Scheduled at ''Address', 'Cars'],axis=1, inplace=True)

#Accuracy ~ Dealing with Outliers

In [0]:
#Accuracy - Checking for Outliers
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)

IQR = Q3 - Q1

df_no_outliers = df < (Q1 - 1.5 * IQR)| df > (Q3 + 1.5 * IQR)
df_no_outliersday1 = pd.read_csv('MoringaSchool_CB_CDR_20120507.csv')
day1.head(3)

In [0]:
#Accertain our outliers are out - checking the columns types 
df_no_outliers.dtypes

In [0]:
#IMPORTING THE 3 DAYS DATASETS 
day3 = pd.read_csv('MoringaSchool_CB_CDR_20120509.csv')
day3.head(3)

#Completeness ~ Null Values Assessment

In [0]:
df_no_outliers = dff

dff.isnull().sum().sum()

#Duplicates

In [0]:
#Duplicates and Drop them ~ Scheduled at has the most duplicates 14310213  
dff.[dff.duplicated(subset = None, Keep = 'first')]

In [0]:
#Sort values by ID
dff.sort_values()

#Uniformity ~ Date Type Conversion

In [0]:
#combining the datasets for uniform analysis
df=pd.concat([day1, day2, day3], ignore_index=True)
df.head()#UNIFORMITY ~ DATE TYPE CONVERSION 
from datetime import date

dff['Date'] = dff.apply(lambda row: datetime(row['year'], row['month'], row['day'], row['hour'], 
                                             row['minute'], axis = 1))

Displaying Clean Dataset

In [0]:
#DISPLAYING OUR CLEAN DATASET
dff.head()
dff.info()

Saving our clean dataset as csv

In [0]:
#SAVING THE CLEAN DATASET AS CSV
dff = pd.to_csv('autolib.csv')

#ANALYSIS ~ Answering Research Questions

1. What was the most popular hour of the day for picking up a shared electric car (Bluecar) 
in the city of Paris over the month of April 2018?

In [0]:

dff[dff['city'] == 'Paris'] #ensuring the city is Paris 

dff = dff[dff['bluecar_counter']==dff['bluecar_counter'].min()] #this lists the hours for picking the cars

2.What is the most popular postal code per hour for returning blue cars? 78005 most popular with 14419 units of cars

In [0]:
dff.groupby('postal_code',dff.date.dt.hour,['bluecar_counter'].count().sort_values(ascending = False)

3. Most Popular Station - for picking blue cars

In [0]:
dff.groupby('public_name','cars'.sum().sort_values(ascending = False).head(500)

4. Utilib_counter Station at the most popular picking hour for blue cars

In [0]:
dff.groupby('public_name',dff.date.dt.hour.['utilib_counter'],['utilib_counter'].count().sort_values(ascending = False)

5.